body {
  background: #58B09C;
  color: #CAF7E2;
  font: 50px Helvetica;
}

a:link, a:visited {
  background-color: #3D3522;
  color: #CAF7E2;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #4A442D;
}

#content {
  width: 500px;
  height: 500px;
  text-align: center;
  margin: auto auto;
}
